################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Oaksoft.ArgumentParser/obj
/src/Oaksoft.ArgumentParser/bin
/test/Oaksoft.ArgumentParser.Console/bin
/test/Oaksoft.ArgumentParser.Console/obj
/test/Oaksoft.ArgumentParser.Tests/bin/Debug/net7.0
/test/Oaksoft.ArgumentParser.Tests/obj
